table {
    border-collapse: collapse;
    width: 50%;
 
    margin-left: 25%;
}


  td {
    text-align: center;
    border: dotted black;
    
}

  input {
    width: 62px;
    height: 40px;
    text-align: center;
    border: none;
    font-size: large;
    font-weight: 100;
    
  }

.zerotop{
    border-top: solid black;
}
.zeroleft{
    border-left: solid black;
}
.zeroright{
    border-right: solid black;
}
.zerodown{
    border-bottom: solid black;
}
.zeroright{
    border-right: solid black;
}
.button_container{
    padding-top: 20px;
    padding-bottom: 20px;
}
.button{
    height: 40px;
    margin-left: 40%;
    width: 20%;
    text-align: center;
}

@media (max-width:800px){
    table{
        width: 90%;
        margin: 0px;
    }

    input{
        font-size: 16px;
        width: 29px;
    }
}

