table {
    border-collapse: collapse;
    width: 50%;
 
    margin-left: 25%;
}

  td {
    text-align: center;
    height: 10%;
    width: 5%;
    border: solid green;
}
  input {
    width: 50px;
    height: 40px;
    text-align: center;
    border: none;
    font-size: 20px;
    font-weight: 100;
  }
.zerotop{
    border-top: solid black;
}
.zeroleft{
    border-left: solid black;
}
.zeroright{
    border-right: solid black;
}
.zerodown{
    border-bottom: solid black;
}
.zeroright{
    border-right: solid black;
}
.button_container{
    padding-top: 20px;
    padding-bottom: 20px;
}
.button{
    height: 40px;
    margin-left: 40%;
    width: 20%;
    text-align: center;
}

